/* contact.css */
#contact {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  
  .contactPageTitle {
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
  }
  
  .contactDesc {
    font-size: 1rem;
    font-weight: 300;
    max-width: 50rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  
  .contactForm {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .name,
  .email,
  .message {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
    color: white;
  }
  
  .message {
    resize: vertical;
    min-height: 10rem;
  }
  
  .submitBtn {
    background: white;
    color: black;
    border: none;
    padding: 0.75rem 3rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submitBtn:hover {
    background: #ddd;
    transform: translateY(-2px);
  }
  
  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
    /* padding: 0 1rem; */
  }
  
  .link {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    transition: all 0.3s ease;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .link:hover {
    transform: scale(1.15);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contactPageTitle {
      font-size: 2rem;
    }
  
    .contactDesc {
      font-size: 0.9rem;
    }
  
    .contactForm {
      max-width: 30rem;
    }
  }
  
  @media (max-width: 480px) {
    #contact {
      padding: 3rem 1rem;
    }
  
    .contactPageTitle {
      font-size: 1.75rem;
    }
  
    .submitBtn {
      width: 100%;
      padding: 0.75rem;
    }
  
    .links {
      gap: 1rem;
      margin-top: 2rem;
    }
  
    .link {
      width: 2rem;
      height: 2rem;
    }
  }